@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
}

html {
  overflow: hidden;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* Behave more like an application by
   * preventing text highlighting / dragging. */
  -webkit-user-select: none;
  cursor: default;
}

body, button, input {
  font-family: 'Ubuntu', sans-serif;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

.center {
  text-align: center;
  vertical-align: middle;
}

.backdrop-simple {
  background-color: #f4f4f4;
  background: #F4F4F4 url("../img/welcome/background.svg") no-repeat fixed right bottom;
  background-position: 100% calc(100% - 64px);
}

.cursor-wait {
  cursor: wait;
}

/* Buttons behave like anchors by default */
button {
  -webkit-appearance: none;
  background: transparent;
  border: none;
  padding: 0;
  font: inherit;
  border: 1px solid transparent;
  cursor: default !important;
  color: #758A53;
}

button:focus {
  cursor: default;
  border: 1px solid #87A556;
}

.link:hover {
  cursor: pointer !important;
  text-decoration: underline;
}

/************************
 * Nicer Scroll Bar Integration
*************************/
::-webkit-scrollbar {
  width: 20px;
  height: 18px;
  z-index: 100;
}

::-webkit-scrollbar-thumb {
  height: 6px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
  z-index: 100;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
  z-index: 100;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
  z-index: 100;
}

/************************
 * Header
*************************/
#header {
  padding: 8px 0;
}

#header .logo {
  height: 64px;
}

#header h1 {
  margin-left: 16px;
  line-height: 64px;
  text-align: center;

  text-shadow: 2px 4px 8px rgba(0,0,0,0.4),
               0px -5px 35px rgba(255,255,255,0.8);

  font-size: 24px;
  font-weight: bold;
}

#header h2 {
  margin-left: 16px;
  line-height: 16px;
  text-align: center;

  text-shadow: 2px 4px 8px rgba(0,0,0,0.4),
               0px -5px 35px rgba(255,255,255,0.8);

  font-size: 16px;
  font-weight: normal;
}

/************************
 * Navigation
*************************/
#navigation {
  left: 0;
  top: 0;
  position: fixed;
  padding: 8px;
  width: 100%;
  height: 32px;
  padding: 8px;
  margin-bottom: 8px;
  z-index: 10;
  /* Ambience Theme Integration */
  background-color: #3C3B37;
	font-size: 24px;
	font-weight: normal;
  color: #DED9CB;
  box-shadow: -8px 2px 10px rgba(0,0,0,0.5);
}

.navigation-button {
  width: 40px;
  height: 30px;
	color: #DED9CB;
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none !important;
}

.navigation-button.with-text {
  width: auto;
}

.navigation-button:hover {
  color: #fff;
}

.navigation-button:active {
  background-color: #667E40;
  color: #fff;
}

.navigation-button.active {
  background-color: #667E40;
}

#navigation-title {
  font-size: 18px;
  padding-left: 4px;
  vertical-align: middle;
  display: inline-table;
}

#navigation-sub-title {
  font-weight: normal;
  font-size: 18px;
  vertical-align: middle;
  display: inline-table;
  color: #959595;
}

#navigation-right {
  position: fixed;
  top: 8px;
  right: 8px;
  z-index: 11;
}

#navigation-right.disabled,
#category-tabs.disabled ul li button,
.navigation-button.disabled {
  opacity: 0.4;
  pointer-events: none;
}

/************************
 * Content
*************************/
#content {
  top: 48px;
  bottom: 64px;
  left: 0;
  right: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  overflow-x: none;
  overflow-y: scroll;
  position: fixed;
  height: auto;
  width: auto;
}

.divider {
  padding-top: 16px;
  background: url("../img/welcome/header-shadow.png") center 0 no-repeat;
}

.btn-showcase {
  padding: 0 8px;
}

.btn-showcase h4 {
  text-align: center;
}

.btn-showcase .btn {
  line-height: 32px;
}

#content h2 {
  font-size: 24px;
}

#content h3 {
  font-size: 20px;
}

/* Center images within the div */
div .center-inside {
  position: relative;
  height: 100%;
  min-height: 50px;
  line-height: 50px;
  text-align: center;
}


/* Prevent accidental dragging on images and links */
img, a {
  -webkit-user-drag: none;
  user-drag: none;
}

/* Collapsible Sub-Sections */
.sub-collapse {
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.sub-collapse > h3 {
  margin: 0;
}

.sub-collapse:hover {
  text-decoration: none;
}

/************************
 * Footer
*************************/
#footer {
  background-color: #3C3B37;
  position: fixed;
  bottom: 0;
  height: 64px;
  width: 100%;
  padding: 0;
  z-index: 10;
  box-shadow: -8px 2px 10px 4px rgba(0,0,0,0.5);
}

#footer .footer-content {
  padding: 16px;
}

.footer-content > div.form {
  display: inline-block;
  position: absolute;
  right: 16px;
}

.footer-content > div.form > button {
  color: #fff;
  text-decoration: none;
  margin-right: 8px;
}

.footer-content > div > label {
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
  margin-right: 8px;
  color: #fff;
}

#social {
  margin: 6px 0px 0 0;
}

#social img, .social-large img {
  width: 24px; height: 24px;
  position: relative;
  top: 0px;
  margin-left: 2px;
  margin-right: 2px;
  opacity: 0.7;

  -webkit-filter: grayscale(1);

  -webkit-backface-visibility: hidden;
  transition: all 0.2s ease-in-out;

  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-delay: initial;
}

#social img:hover, .social-large img:hover {
  top: -4px;
  opacity: 1.0;
  -webkit-filter: grayscale(0);
}

.social-large img {
  width: 48px !important;
  height: 48px !important;
  padding-bottom: 8px;
  -webkit-filter: grayscale(0);
}


/* No margin for social icon in navbar */
img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.left {
  margin-right: 10px;
  float: left;
}

img.right {
  margin-right: 10px;
  float: right;
}

hr.soften {
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  border: 0;
}

hr.soften-light {
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(150,150,150,.4), rgba(0,0,0,0));
  border: 0;
}

.fa-va {
  vertical-align: middle;
}

#boutique-footer {
  color: #7F7F7F;
  line-height: 9px;
}

#boutique-footer > #update-subscribed {
  color: #646464;
}

#boutique-footer > #update-notification a, #update-subscribing  {
  color: white !important;
}

/************************
** Global
*************************/

/* All bootstrap tool-tips */
.tooltip-inner {
  font-size: 12px;
}

.success-text {
  color: #477301;
}

/* Feedback with button interactions */
.btn:active, .btn:focus, .btn:hover {
  border: 1px solid #87A556;
}

/* Alert Box for Facts */
.alert-fact {
  color: #000000;
  background-color: #DCDCDC;
  border-color: #ACACAC;
  padding: 8px;
  opacity: 0.9;
}

.alert-fact > p {
  margin: 0;
}

/************************
** Page Transitions
*************************/
/* Page Entry - Glide In */
@-webkit-keyframes pageIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.9, .9, .9);
  }

  50% {
    opacity: 1;
  }
}

.pageIn {
  -webkit-animation-name: pageIn;
  -webkit-animation-duration: 0.5s;
}

/* Page Exit - Glide Out */
@-webkit-keyframes pageOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
  }
}

.pageOut {
  -webkit-animation-name: pageOut;
  -webkit-animation-duration: 0.5s;
}

/************************
 * Introduction Page
*************************/
.slogan-box {
  position: relative;
  top: -20px;
  margin-left: -20px;
  margin-right: -20px;
  height: 530px;
  background: url('/usr/share/backgrounds/mate/desktop/Ubuntu-Mate-Cold-no-logo.png');
  -webkit-mask-image: -webkit-gradient(linear, left 85%, left bottom, from(rgba(0,0,0,1)), to(rgba(244,244,244,0)));
}

.slogan-area {
  display: block;
  width: 100%;
  padding-top: 60px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
}

.slogan-text {
  margin-top: 32px;
  margin-bottom: 24px;
  display: block;
  color: #FFF;
  font-size: 32px;
}

.mate-table {
  width: 100%;
  text-align: center;
  margin-bottom: 8px;
}

/* Animation to indicate to scroll down */
#scroll-down-hint {
  position: relative;
  display: list-item;
  top: -24px;
  opacity: 0;
  -webkit-animation-name: scroll-down-hinter;
  -webkit-animation-duration: 2s;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 10;
  -webkit-animation-delay: 2s;
}

@-webkit-keyframes scroll-down-hinter {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 0;
    -webkit-transform: translate(0px, 50px);
  }
}


/************************
 * Software Page / Boutique
*************************/

/* Responsive Column Structure */
@media (max-width:1279px) {
  .app-entry {
    width:100%;
    box-sizing:border-box;
    float:none;
    margin:0 0 0 0;
    transition: all 0.7s linear;
  }
}

@media (min-width:1280px) and (max-width:1599px) {
  .app-entry {
    width:48%;
    box-sizing:border-box;
    float:left;
    margin:0 2% 0 0;
    transition: all 0.7s linear;
  }
  .app-entry:nth-child(even) {
    clear:both;
    float:left;
  }
}

@media (min-width:1600px) {
  .app-entry {
    width:31%;
    box-sizing:border-box;
    float:left;
    margin:0 2% 0 0;
    transition: all 0.7s linear;
}
  .app-entry:nth-child(3n+5) {
    clear:both;
    float:left;
  }
}

/* Always keep category tabs visible */
#category-tabs {
  position: fixed;
  background-image: -webkit-linear-gradient(top, rgba(244,244,244,1), rgba(244,244,244,1), rgba(244,244,244,0.9), rgba(244,244,244,0));
  width: auto;
  left: 0;
  right: 16px;
  top: 48px;
  z-index: 5;
  padding-top: 8px;
  margin-bottom: 2px;
  padding-bottom: 28px;
}

/* Always show the back to top button when disabled */
#scroll-top-always-show.disabled {
  opacity: 0.2;
}

/* Proprietary Toggle Help Card */
#nonfree-info-popup {
  position: fixed;
  width: 400px;
  height: auto;
  right: 4px;
  bottom: 68px;
  background-color: white;
  border: 1px solid black;
}

#nonfree-info-popup > .title {
  background-color: #3F4140;
  color: #fff;
  padding: 6px;
}

#nonfree-info-popup > .body {
  padding: 6px;
}

/* Featured Apps Grid */
#featured-grid {
  /* 4x4 Grid with 64px Icons */
  width: 300px;
  height: 271px;
  float: right;
  margin: 8px;
}

#featured-grid img {
  padding: 2.5px;
  min-width: 64px;
  min-height: 64px;
}

.grid-hidden {
  opacity: 0 !important;
}

.grid-outer {
  opacity: 0.3;
  -webkit-transition: opacity .5s ease-in-out;
}

.grid-inner {
  opacity: 0.7;
  -webkit-transition: opacity .5s ease-in-out;
}

#featured-grid img:hover {
  opacity: 1;
  -webkit-transition: opacity .5s ease-in-out;
}

/* Show cursor over check boxes */
#non-free-toggle {
  cursor: pointer;
}

#show-misc-cmds {
  cursor: pointer;
}

/* Terminal Commands Blockquote */
blockquote.terminal {
  font-family: "Ubuntu Mono";
  font-size: 16px;
  background-color: #000;
  color: #D0D0D0;
  padding-top: 8px;
  padding-bottom: 8px;
}

/* Installed checkmark that overlays the application's icon */
.installed-check {
  position: absolute;
  bottom: -15px;
  right: 15px;
  color: #466E00;
}

/* Filter drop down */
.filter-box {
  float: right;
  font-family: 'Ubuntu';
}

/* More details for an individual application */
.more-details th {
  font-family: 'Ubuntu';
  width: 100px;
}

.more-details td {
  font-family: 'Ubuntu';
}

.arch-in-use {
  font-weight: bold;
}

.screenshot {
  height: 100px;
  margin: 4px;
  border: 2px solid white;
}

.screenshot:hover, .screenshot:focus {
  border: 2px solid #799251;
}

.screenshot-link {
  cursor: -webkit-zoom-in;
}

/* Software Only Mode Splash */
#boutique-splash {
  width: auto;
  height: 64px;
  margin: auto;
  top: 0; bottom: 0; left: 0; right: 0;
  position: absolute;
  vertical-align: middle;
  text-align: center;
  font-family: "Ubuntu";
  font-size: 40px;
  color: #5A6943;
  pointer-events: none;
}

/* Preferences */
#pref-table > tbody > tr > td > button {
  color: black;
  text-decoration: none;
}

.pref-info {
  padding-top: 8px;
  color: #7F7F7F;
  font-size: smaller;
}

/************************
 * Main Menu
*************************/
.main-menu-logo {
  width: 200px;
  height: 200px;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
  position: absolute;
  z-index: -1;
  pointer-events: none;
}

.main-menu-textbox {
  height: 40px;
  min-height: 40px;
  white-space: nowrap;
}

.main-menu-text {
  margin: 6px;
  padding: 6px;
  text-align: center;
  vertical-align: bottom;
  font-weight: bold;
  font-size: 18px;
  color: #5A6943;
}

.main-menu-version {
  font-family: "Ubuntu";
  font-size: 20px;
  font-weight: bold;
  vertical-align: top;
  color: #5A6943;
  pointer-events: none;
}

.menu-bkgnd {
  height: 390px;
  width: 390px;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: -10;
  position: absolute;
  overflow: hidden;
  background-image: url('../img/welcome/menu-bg.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

/* Raspberry Pi Button */
.btn-rpi {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #C6053D;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#C6053D), to(#C6053D));
  background-image: -webkit-linear-gradient(top, #C6053D, #C6053D);
  background-image: linear-gradient(to bottom, #C6053D #C6053D);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-rpi:hover,
.btn-rpi:focus,
.btn-rpi:active,
.btn-rpi.active,
.btn-rpi.disabled,
.btn-rpi[disabled] {
  color: #ffffff;
  background-color: #C6053D;
}

.btn-rpi:active,
.btn-rpi.active {
  background-color: #C6053D \9;
}

/* Shows a notification in the top-right corner */
.heads-up {
  position: fixed;
  top: 8px;
  right: 8px;
  z-index: 11;
  font-size: 16px;
  text-align: right;
}

/************************
 * Splash Screen
*************************/
#white-start {
  background: white;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
}

#splash-logo {
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
  position: absolute;
  padding-top: 4%;
  width: auto;
  height: 128px;
  pointer-events: none;
  text-align: center;
  vertical-align: middle;
}

#splash-text {
  display: inline;
  font-family: "Ubuntu";
  font-weight: 100;
  font-size: 20px;
  color: #5A6943;
}

#splash-welcome {
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
  position: absolute;
  width: auto;
  height: 128px;
  padding-top: 8%;
  font-family: "Ubuntu";
  font-weight: 100;
  font-size: 48px;
  color: #3B3A36;
  text-align: center;
}

@-webkit-keyframes entrance {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: scale3d(.9, .9, .9);
  }
}

/* Modified animate.css rollIn */
@-webkit-keyframes splashRollIn {
  00% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }

  30% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.entrance {
  -webkit-animation-name: entrance;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: ease-in-out;
}

/* Slower version from animate.css */
.mateRoll {
  -webkit-animation-name: splashRollIn;
  -webkit-animation-duration: 3s;
}

#skip-btn {
  position: fixed;
  right: 8px;
  bottom: 8px;
  width: 48px;
  height: 30px;
  text-align: center;
  vertical-align: right;
  color: #C0C0C0;
}

/************************
 * Getting Started - Topic Sub-Headings
*************************/
#topic-subheading {
  background-color: #656565;
  left: 0;
  top: 48px;
  position: fixed;
  padding: 8px;
  width: 100%;
  height: 24px;
  padding: 8px;
  margin-bottom: 8px;
  z-index: 9;
	font-size: 16px;
	font-weight: normal;
  color: #DED9CB;
  box-shadow: -8px 2px 10px rgba(0,0,0,0.5);
}

#topic-subheading > .left {
  float: left;
  margin-top: 2px;
  margin-left: 4px;
}

#topic-subheading > .right {
  float: right;
  margin-top: -2px;
  margin-right: 16px;
}

#content.with-sub-heading {
  top: 90px;
}

.topic-card-container {
  float: left;
  width: 100%;
  min-height: 64px;
  height: auto;
  margin-top: 4px;
  margin-bottom: 4px;
}

.topic-card {
  float: left;
  min-width: 200px;
  width: auto;
  height: 44px;
  background-color: white;
  box-shadow: 1px 1px 1px rgba(192,192,192,0.5);
  transition: all 0.1s linear;
  padding: 8px;
  margin: 8px;
  color: black;
}

.topic-card:hover,
.topic-card:focus {
  text-decoration: none;
  box-shadow: 0px 0px 10px rgba(192,192,192,1);
}

.topic-card > span {
  float: left;
  margin-right: 6px;
  font-size: 2em;
}

.topic-card > img {
  float: left;
  margin-right: 6px;
  width: 36px;
  height: 36px;
  top: -4px;
  position: relative;
}

.topic-card:hover > img,
.topic-card:focus > img {
  -webkit-filter: brightness(1.1);
}

.topic-card > p {
  float: left;
  padding-top: 4px;
  padding-right: 24px;
}

/************************
 * Getting Started - System Specifications
*************************/
#specs-icon {
  top: 180px;
  left: 4%;
  width: 20%;
  height: auto;
  margin: auto;
  position: absolute;
}

#specs-icon img {
  width: 180px;
  height: auto;
}

#specs-loading {
  width: 80%;
  height: 25px;
  top: 100px; bottom: 0; left: 0; right: 0;
  margin: auto;
  position: absolute;
  text-align: center;
}

#specs-box {
  left: 25%;
  width: 74%;
  padding: 4px;
  position: relative;
}

.specs-box h4 {
  color: #758A53;
}

.specs-error {
  color: #FF0000;
}

.secondary-value {
  opacity: 0.5;
}

.secondary-value:hover {
  opacity: 1;
}

#disk-usage {
  width: 100%;
  height: 8px;
  background-color: #C8C8C8;
  border: 1px solid #8C8C8C;
  overflow: hidden;
}

.disk-line {
  float: left;
  height: 100%;
}

#disk-used {
  background-color: #87A556;
}

#disk-free {
  background-color: #C2D3A6;
}

#disk-other {
  background-color: #484848;
}

.disk-legend {
  width: 10px;
  height: 10px;
  border: 1px solid black;
  float: left;
  vertical-align: middle;
  margin: 4px;
}

#specs-inxi, .specs-sel-text, blockquote.terminal {
  -webkit-user-select: text;
}

/************************
 * Hello Page
*************************/
#hello-page {
  padding-left: 350px;
}

#hello-image {
  position: absolute;
  left: -200px;
  height: 450px;
  width: auto;
  z-index: -1;
  overflow: hidden;
}

#hello-header {
  font-weight: lighter;
  padding-top: 8px;
  padding-bottom: 8px;
  overflow: hidden;
}

.hello p {
  padding-top: 8px;
  padding-bottom: 8px;
}

/************************
 * Boutique General
*************************/
#boutique-loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 250px;
  height: 130px;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  z-index: 100;
}

#boutique-loading > p {
  color: gray;
  margin-top: 16px;
}

.always-hidden {
  display: none !important;
}

/************************
 * Boutique News
*************************/
.news-list-version {
  margin-left: 16px;
}

.news-list-items {
  margin-left: 32px;
}

.news-reason {
  color: #959595;
  font-style: italic;
}

#news-add {
  color: #86A555;
}

#news-fix {
  color: #609FCF;
}

#news-del {
  color: #FF0108;
}

/************************
 * Boutique Queuing
*************************/
/* Page Layout/Styling */
#queue-empty {
  color: #7F7F7F;
  font-style: italic;
}

#queue-options {
  text-align: right;
}

.queue-plan {
  font-style: bold;
}

/* Card Layout */
.queue-card {
  height: 50px;
  width: 98%;
  background-color: rgba(255,255,255,0.8);
  border: 1px solid #E8E8E8;
  margin: 8px;
  padding: 8px;
  box-shadow: 2px 2px 2px #C8C8C8;
}

.queue-card > .icon {
  width: 48px;
  height: 48px;

}
.queue-card > .title {
  font-weight: bold;
  margin-left: 8px;
}

.queue-card > .status {
  font-size: smaller;
  margin-top: 12px;
  color: #7F7F7F;
  float: right;
}

.queue-card > .status > .drop {
  float: right;
  color: black;
  margin-left: 16px;
  margin-right: 8px;
}

/* Card States */
.queue-card.success {
  border: 3px solid #008000;
}

.queue-card.failed {
  border: 3px solid #800000;
}

/* Card Labels */
.queue-card > .status > .success, .queue-plan.install {
  color: #008000 !important;
}

.queue-card > .status > .failed, .queue-plan.remove {
  color: #800000 !important;
}

/* Glow Queue button on add/remove */
@-webkit-keyframes queue-glow-add {
  0% { background-color: #3C3B37; color: #DED9CB; }
  40% { background-color: #A0CA5F; color: #A0CA5F; }
  60% { background-color: #A0CA5F; color: #A0CA5F; }
  100% { background-color: #3C3B37; color: #DED9CB; }
}

.queue-glow-add {
  -webkit-animation: queue-glow-add;
}

@-webkit-keyframes queue-glow-remove {
  0% { background-color: #3C3B37; color: #DED9CB; }
  40% { background-color: #CA645F; color: #CA645F; }
  60% { background-color: #CA645F; color: #CA645F; }
  100% { background-color: #3C3B37; color: #DED9CB; }
}

.queue-glow-remove {
  -webkit-animation: queue-glow-remove;
}

/* Animate program icons into the queue */
.queue-zoom-icon {
  position: absolute;
  top: 0px;
  right: 189px;
  width: 30px;
  height: 30px;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  -webkit-animation: queue-zoom-icon;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes queue-zoom-icon {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale3d(.8, .8, .8);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1);
  }
}

#navigation-queue-count {
  position: absolute;
  top: 20px;
  right: 177px;
  z-index: 100;
  display: inline-block;
  padding: 4px 4px;
  -webkit-border-radius: 8px;
  font-size: 11px;
  line-height: 8px;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #3C3B37;
  color: white;
}

#navigation-queue-count.empty {
  opacity: 0.6;
}
